[user]
	name = Carlos Daniel
	email = carlos-dss@hotmail.com.br

[core]
	editor = vim
	excludesfile = /home/cdss/.gitignore
[merge]
	tool = vimdiff
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
        insteadOf = https://bitbucket.org/

[color]
    ui = true
