/*__        ___ __   ______    _    ____      ____ _______   ___     _____ ____  */
/*\ \      / / \\ \ / / __ )  / \  |  _ \    / ___|_   _\ \ / / |   | ____/ ___| */
 /*\ \ /\ / / _ \\ V /|  _ \ / _ \ | |_) |___\___ \ | |  \ V /| |   |  _| \___ \ */
  /*\ V  V / ___ \| | | |_) / ___ \|  _ <_____|__) || |   | | | |___| |___ ___) |*/
   /*\_/\_/_/   \_\_| |____/_/   \_\_| \_\   |____/ |_|   |_| |_____|_____|____/ */


/* Reset styles */
* {
    border: none;
    border-radius: 1;
    min-height: 0;
    margin: 0 0 0 0;
    padding: 0;
}

/* The  bar */
#waybar {
    background: #282828;
    font-family: "awesome 5";
    font-size: 15px;
    font-weight: bold;

}

#disk,
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#custom-alsa,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}

/*modules style*/
#disk {
    color: #d79921;

}

#backlight {
    color: #689d6a;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #d65d0e;
}

#battery.warning {

    color: #d65d0e;
}

#clock.date {
    color: #fbf1c7;
    font-weight: bold;
}

#clock.time {
    color: #fbf1c7;
    font-weight: bold;
}

#cpu {
    color: #cc241d;
}

#cpu.warning {
    color: #cc241d;
}

#cpu.critical {
    color: #cc241d;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #458588;
}

#memory.warning {
    color: #458588;
}


#network {
    color: #98971a;
}

#network.disconnected {
    color: #98971a;
}

#pulseaudio {
    color: #8f3f71;
    
}

#pulseaudio.muted {
    color: #8f3f71;
}

#tray {
    background: transparent;
}

#window {
    font-weight: bold;
}

#workspaces button {
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #076678;
    border-radius: 10px;
}

#workspaces button.focused {
    font-weight: bold;
    color: #282828;
    color: #076678;
}
